
.idea

.idea/dictionaries/ejones.xml

.idea/leads-api-specs.iml

.idea/runConfigurations/Run_spec__leads_api_test_spec___leads_api_specs.xml

.idea/leads-api-specs.iml

*.iml

.idea/dictionaries/ejones.xml

*.log
